@import 'tailwindcss';

/* safe list */
@source inline('{sm:,md:,lg:,xl:,}grid-cols-{1,2,3,4,5,6}');

@plugin 'daisyui' {
  themes:
    light --default,
    dark;

  @theme {
    --animate-zoom-in-out: zoom-in-out 500ms ease-in-out;
    @keyframes zoom-in-out {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    --animate-zoom-out-in: zoom-out-in 1s ease-in-out;
    @keyframes zoom-out-in {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      50% {
        -webkit-transform: scale3d(0.95, 0.95, 0.95);
        transform: scale3d(0.95, 0.95, 0.95);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    --animate-fade-in: fade-in 500ms ease-in-out both;
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    --animate-fade-out: fade-out 500ms ease-in-out both;
    @keyframes fade-out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}

@plugin 'daisyui/theme' {
  name: 'light';
  default: true;
  --color-primary: #26245f;
  --color-secondary: #dd252e;
}

@plugin 'daisyui/theme' {
  name: 'dark';
  /* --color-primary: #8b7ff5; */
}

/* staggered animation */
[data-stagger] {
  transition:
    opacity 0.25s ease,
    translate 0.25s ease;
  transition-delay: calc(0.1s * (sibling-index() - 1));

  @starting-style {
    opacity: 0;
  }
}

[data-stagger='rtl'] {
  @starting-style {
    translate: 1em 0;
  }
}

[data-stagger='ltr'] {
  @starting-style {
    translate: -1em 0;
  }
}

[data-stagger='ttb'] {
  @starting-style {
    translate: 0 -1em;
  }
}

[data-stagger='btt'] {
  @starting-style {
    translate: 0 1em;
  }
}

@utility stagger-animation {
  --stagger-delay: 0.1s;
  --stagger-duration: 0.25s;
  --stagger-translate-x: 1em;
  --stagger-translate-y: 0;

  transition:
    opacity var(--stagger-duration) ease,
    translate var(--stagger-duration) ease;
  transition-delay: calc(var(--stagger-delay) * (sibling-index() - 1));

  @starting-style {
    opacity: 0;
    translate: var(--stagger-translate-x) var(--stagger-translate-y);
  }
}

li {
  @apply stagger-animation;
}

/* calendar */
calendar-date {
  &::part(heading) {
    @apply hidden;
  }

  &::part(header) {
    @apply w-full;
  }

  &::part(container) {
    @apply flex items-center;
  }

  calendar-month {
    &::part(heading) {
      @apply hidden;
    }
  }
}

calendar-select-year {
  @apply absolute;

  &::part(label) {
    @apply hidden;
  }

  &::part(select) {
    @apply select select-ghost cursor-pointer bg-none p-0 text-center text-base font-semibold;
  }
}

calendar-select-month {
  &::part(label) {
    @apply hidden;
  }

  &::part(select) {
    @apply select select-ghost cursor-pointer bg-none p-0 text-center font-light;
  }
}

[href^='http://']::after,
[href^='https://']::after {
  mask-image: url(images/link.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 15px;
  height: 15px;
}

[href$='.pdf']::after {
  mask-image: url(images/file-pdf.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 15px;
  height: 15px;
}
