@import 'tailwindcss';
@plugin 'daisyui' {
  themes: light --default;
}
@plugin 'daisyui/theme' {
  name: 'light';
  default: true;
  --color-primary: #26245f;

  @theme {
    --animate-zoom-in-out: zoom-in-out 500ms ease-in-out;
    @keyframes zoom-in-out {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    --animate-zoom-out-in: zoom-out-in 1s ease-in-out;
    @keyframes zoom-out-in {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      50% {
        -webkit-transform: scale3d(0.95, 0.95, 0.95);
        transform: scale3d(0.95, 0.95, 0.95);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    --animate-fade-in: fade-in 500ms ease-in-out both;
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    --animate-fade-out: fade-out 500ms ease-in-out both;
    @keyframes fade-out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}

[href^='http://']::after,
[href^='https://']::after
{
  mask-image: url(images/link.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

[href$='.pdf']::after {
  mask-image: url(images/file-pdf.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
